#profile {
    border-radius: 10%;
    border: 2px solid;
    display: flex;
    position: relative;
    width: 420px;
    padding: 10px;
    margin: 15px;
}
.profilePic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 15px;
    left: 0;
    top: 0;
    display: flex;
}
#profileTxt {
    border: 2px solid;
    padding: 10px;
    border-radius: 10%;
}
#education, #projects, #contactForm{
    padding: 10px;
    border-radius: 10%;
    border: 2px solid;
    width: 420px;
    padding: 10px;
    margin: 15px;
}
.light {
    background: #FFFFFF;
    color: #000000;
    border-color: #000000;
}
.dark {
    background: #000000;
    color: #FFFFFF;
    border-color: #FFFFFF;
}